@charset "UTF-8";

/* Paleta de cores:
Azul clarinho: #bcd9f1
Azul: #068cfa
azul claro: #4B70B1 */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Estilo geral - mobile first */

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #bcd9f1;
}

.img {
    width: 90vw;
    height: 300px;
    background-image: url(../imagens/img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    position: relative;
    width: 90vw;
    height: 620px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4B70B1;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.formulario {
    display: block;
    padding: 20px;
}

.formulario > h2 {
    color: #ffffff;
    font-size: 1.4em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px black;
}

.place > input {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #bcd9f1;
    border-radius: 10px;
    border: 3px solid #068cfa;

}

.btn {
    background-color: white;
    width: 25vw;
    height: 30px;
    font-size: 1.1em;
    border-radius: 10px;
    border: 3px solid #068cfa;
    margin-left: 10px 0px;
}

.btn:hover {
    background-color: #068cfa;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.forget {
    background-color: white;
    width: 50vw;
    height: 30px;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #068cfa;
}

.forget:hover {
    background-color: #068cfa;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

/* Versão tablet (640 até 992) */

@media screen and (min-width: 640px) and (max-width: 999px){

    body, html {
        background-image: linear-gradient(to bottom, #068cfa, #4B70B1, transparent);
    }

    .container {
        height: 700px;
        width: 60vw;
    }

    .img {
        height: 350px;
    }
    
    .formulario > h2 {
        font-size: 1.7em;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .place > input {
        width: 80%;
    }

    .btn {
        height: 40px;
    }
}

@media screen and (min-width: 1000px) {

    body, html {
        background-image: linear-gradient(to bottom, #068cfa, #4B70B1, transparent);
    }

    .container {
        width: 900px;
        display: flex;
    }

    .formulario > h2 {
        font-size: 1.8em;
        margin-bottom: 50px;
    }

    .img {
        height: 100%;
        width: 400px;
    }

    .formulario {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .place > input {
        width: 90%;
    }

    .btn {
        margin: 20px;
        height: 50px;
        width: 170px;
    }

    .forget {
        height: 50px;
        width: 380px;
    }
}


